main {
  .main_inner {
    padding-top: 120px;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

.up_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 20px;
  background: #5c43ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    filter: brightness(0.7);
  }
}
