:root {
  --main-color: #002f3f;
  --main-color-focus: #0c8a37;
  --main-color-hover: #0c8a36c0;
  --main-color-hover-shadow: #b5bd1c;
  --radius: 20px;
}

main {
  .main_inner {
    padding: 120px 20px 0 20px;
    width: 100%;
    max-width: 1300px;
    // max-width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

// 위로 이동
.up_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 20px;
  background: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  opacity: 0;
  &:hover {
    filter: brightness(0.7);
  }

  &.show {
    opacity: 1;
  }
}

// 알람
.alert {
  background: #282d43;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(0, -50%);
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 10px 20px -10px #282d43;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: 0.25s;
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
  .alert_description {
  }
  .close_btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    padding: 2px 5px;
    &:hover {
      border: 1px solid var(--main-color);
      background: var(--main-color);
    }
  }
}

.section_title_container {
  font-weight: bold;
  margin-bottom: 20px;
  .section_title_container_inner {
    max-width: 1300px;
    margin: 0 auto;
    .section_title {
      font-size: 14px;
      color: var(--main-color-focus);
      text-transform: uppercase;
    }
    .section_subTitle {
      font-size: 24px;
      font-weight: 900;
    }
  }
  .section_title {
    font-size: 14px;
    color: var(--main-color-focus);
    text-transform: uppercase;
  }
  .section_subTitle {
    font-size: 24px;
    font-weight: 900;
  }
}

.information_container {
  width: 100%;
  height: 100vh;
  .information_desc {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    .photo_container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .fur {
        position: absolute;
        bottom: -20px;
        left: 38%;
        transform: translate(-50%, 0);
      }
      .myphoto {
        border-radius: 100px;
        width: 500px;
        height: 200px;
        object-fit: cover;
        // box-shadow: 0 20px 40px -15px #002f3fa3;
      }
    }

    .dajim {
      color: #002f3fb5;
      text-align: center;
    }

    .my_info {
      margin: 0 auto;
      .info_item {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.skill_container {
  background: #f8faff;
  padding: 40px 0;
  height: 500px;
  position: relative;
  overflow: hidden;
  .skill_desc_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .skill_name {
      font-size: 28px;
      color: var(--main-color);
    }
    .skill_desc {
      background: #e9edf4;
      color: #002f3faf;
      border-radius: 5px;
      padding: 5px;
    }
  }
  .skill_container_inner {
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;

    // 배경
    .bg_round {
      position: absolute;
      border: 1px solid var(--main-color-focus);
      left: 50%;
      transform: translate(-50%, 50%);
      bottom: 0;
      border-radius: 100%;

      &:nth-child(1) {
        width: 700px;
        height: 700px;
        .skill_section {
          &:nth-child(1) {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translate(-50%, 0);
            .skill_icon_container {
              img {
                position: absolute;
                &:nth-child(1) {
                }
                &:nth-child(2) {
                  top: 10px;
                  left: 70px;
                }
                &:nth-child(3) {
                  top: 30px;
                  left: 140px;
                }
              }
            }
          }
          &:nth-child(2) {
            position: absolute;
            bottom: 50%;
            left: 0;
            transform: translate(-50%, -50%);

            .skill_icon_container {
              img {
                position: absolute;
                &:nth-child(1) {
                }
                &:nth-child(2) {
                  bottom: 80px;
                  left: 30px;
                }
              }
            }
          }
        }
      }
      &:nth-child(2) {
        width: 500px;
        height: 500px;
        .skill_section {
          &:nth-child(1) {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translate(-50%, 0);
          }
          &:nth-child(2) {
            position: absolute;
            bottom: 50%;
            left: 0;
            transform: translate(-50%, -50%);
          }
        }
      }
      &:nth-child(3) {
        width: 300px;
        height: 300px;
        .skill_section {
          position: absolute;
          top: -50px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }

    // 스킬 목록
    .skill_section {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      .skill_category {
        color: #636d9e;
        font-weight: bold;
      }
      .skill_icon_container {
        display: flex;
        gap: 10px;
        position: relative;
        height: 50px;
        width: 50px;
        .skill_item {
          border-radius: 10px;
          transition: 0.25s;
          padding: 5px;
          width: 40px;
          height: 40px;
          object-fit: contain;
          background: #e9edf4;
          cursor: pointer;
          &:hover {
            background: var(--main-color);
            box-shadow: 0 0 20px 0 #b5bd1c;
          }
        }
      }
    }
  }
}
