main {
  .main_inner {
    padding-top: 120px;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

// 위로 이동
.up_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 20px;
  background: #5c43ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  opacity: 0;
  &:hover {
    filter: brightness(0.7);
  }

  &.show {
    opacity: 1;
  }
}

// 알람
.alert {
  background: #282d43;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(0, -50%);
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 10px 20px -10px #282d43;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: 0.25s;
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
  .alert_description {
  }
  .close_btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    padding: 2px 5px;
    &:hover {
      border: 1px solid #5c43ff;
      background: #5c43ff;
    }
  }
}

.section_title_container {
  font-weight: bold;
  .section_title {
    font-size: 14px;
    color: #5c43ff;
    text-transform: uppercase;
  }
  .section_subTitle {
    font-size: 24px;
    font-weight: 900;
  }
}
