// poppins
@font-face {
	font-family: "Poppins";
	font-weight: 100;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 200;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 300;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 400;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 500;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 600;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 700;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 800;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	font-weight: 900;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.ttf")
			format("truetype");
	font-display: swap;
}

// 노토
@font-face {
	font-family: "NotoSansKR";
	font-weight: 100;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Thin.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Thin.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Thin.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Thin.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Thin.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 300;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Light.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Light.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Light.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Light.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Light.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 400;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Regular.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Regular.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Regular.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Regular.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 500;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 700;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Bold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Bold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Bold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Bold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 900;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Black.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Black.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Black.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Black.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Black.ttf")
			format("truetype");
	font-display: swap;
}

// 지마켓
@font-face {
	font-family: "GmarketSans";
	font-weight: 300;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "GmarketSans";
	font-weight: 500;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "GmarketSans";
	font-weight: 700;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
			format("truetype");
	font-display: swap;
}

// 더잠실체
@font-face {
	font-family: "TheJamsil";
	font-weight: 100;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "TheJamsil";
	font-weight: 300;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "TheJamsil";
	font-weight: 400;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "TheJamsil";
	font-weight: 500;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "TheJamsil";
	font-weight: 700;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "TheJamsil";
	font-weight: 800;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.ttf")
			format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	font-weight: 100;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 200;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 300;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 500;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 600;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 800;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf")
			format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 900;
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot");
	src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf")
			format("truetype");
	font-display: swap;
}
