.footer_container {
  //   border-top: 1px solid gray;
  width: 100%;
  height: 100px;
  padding: 70px 0;
  .footer_container_inner {
    width: 100%;
    max-width: var(--web);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      width: 50px;
      opacity: 0.5;
    }
  }
}
