nav {
	width: 100%;
	// background: rgba(255, 255, 255, 0.847);
	position: relative;
	font-family: Poppins;

	// backdrop-filter: blur(50px);
	// -webkit-backdrop-filter: blur(50px);

	display: flex;
	align-items: center;
	flex-direction: column;

	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;

	// top 0.1s
	transition: 0.25s;
	.header_inner {
		// height: 100px;
		// background: blue;
		width: 100%;
		max-width: 1680px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		box-sizing: border-box;
		.header_text_container {
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			overflow: hidden;
			position: relative;
			> a {
				// position: absolute;
				pointer-events: none;
				visibility: hidden;
				display: inline-block;
				text-decoration: none;
				// color: black;
				transition: 0.25s;
				border-radius: 100px;
				min-width: 20px;
				text-align: center;
				// padding: 0 10px;
				height: 25px;
				margin: auto 0;

				&:hover {
					background: rgba(255, 255, 255, 0.129);
					filter: drop-shadow(0px 0px 5px white);
				}
				&.active {
					color: white;
				}
			}

			> div {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-direction: row;
				flex-direction: row;
				// pointer-events: none;
				position: absolute;
				top: 0;
				> a {
					display: inline-block;
					text-decoration: none;
					color: black;
					transition: 0.25s;
					border-radius: 100px;
					min-width: 20px;
					text-align: center;
					// padding: 0 10px;
					height: 25px;
					font-weight: 500;
					// margin: auto 0;
					margin-right: 20px;

					&:last-child {
						color: #00c897;
						margin-right: 0;
					}
				}
			}
		}
		.logo {
			position: relative;
			padding: 0;
			margin: 0;
			min-width: auto;
			width: 90px;
			height: 90px;
			transition: 0.25s;
			border-radius: 0;
			overflow: hidden;
			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: 0.25s;
			}
			.bg {
				transition: 0.25s;
				display: none;
			}
			// &:hover {
			//   background: rgba(255, 255, 255, 0.129);
			//   filter: none;
			//   box-shadow: 0 0px 40px 0px var(--main-color-hover-shadow);
			//   .bg {
			//     transform: scale(1.6);
			//   }
			//   .icon {
			//     transform: translate(-50%, -50%) scale(1.08);
			//   }
			// }
			&:active {
				filter: brightness(0.8);
			}
		}
	}

	.scroll_background {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		display: flex;
		align-items: end;
		.scroll_progress {
			background: #092812;
			width: 0px;
			height: 5%;
			border-radius: 100px;
			margin: 0 auto;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(180deg, white, transparent);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		-webkit-mask: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0) 12.5%,
			red 65%,
			red 37.5%,
			rgb(255, 18, 18) 50%
		);
		mask: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 12.5%,
			red 65%,
			red 37.5%,
			rgb(255, 18, 18) 50%
		);
		z-index: -100;
	}
}
