.nav_section,
.desc_section {
  // padding: 20px;
  // height: 100vh;
  width: 100%;
  background: #f1f2f7;
}
.nav_section {
  max-width: 1000px;
  height: 500vh;
}
.desc_section {
  max-width: 660px;
  height: 100%;
  position: sticky;
  top: 90px;

  .screenshot_container {
    overflow: auto;
    display: flex;
    img {
      width: 660px;
    }
  }

  .title_container {
    // width: 100%;
    background: #282d43;
    color: white;
    padding: 20px;

    span {
      font-size: 24px;
      &:first-child {
        float: left;
        font-weight: 900;
      }
      &:last-child {
        float: right;
      }
    }
  }

  .desc_container {
    padding: 20px;
    .sub_title {
      // color: #282d43;
      font-size: 20px;
      font-weight: 900;
      padding-bottom: 5px;
    }
    .stack_container {
      .item {
        border: 1px solid;
        padding: 2px 5px;
        margin-right: 5px;
        transition: 0.25s;
        cursor: pointer;
        &:last-child {
          margin-right: 0px;
        }
        &:hover {
          background: #5c43ff;
          color: white;
          border: 1px solid #5c43ff;
        }
      }
    }
  }

  .activity_container {
    border-top: 1px solid #636d9e22;
    a {
      height: 60px;
      width: 49.9%;
      color: #636d9e;
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      display: inline-block;
      line-height: 2.5;
      text-decoration: none;
      transition: 0.25s;
      &:first-child {
        border-right: 1px solid rgba(99, 109, 158, 0.1333333333);
      }
      &:hover {
        background: #5c43ff;
        color: white;
      }
    }
  }
}
